.heading{
    color:white
}
/* 
.container{
    height:40em; background-size:cover; width:auto;
    background-image:url("https://i.pinimg.com/736x/cf/b0/7a/cfb07a2dc2a7bfc3e19fcf4a76464c32.jpg");
    background-size: cover;
  } */

  /* .container{
      background-image: url("https://img.wallpapersafari.com/desktop/800/450/66/69/Zuysr2.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
  } */

