<header>
    <!-- <div [ngStyle] = "{backgroundImage : 'url(https://img.wallpapersafari.com/desktop/800/450/66/69/Zuysr2.jpg)'}">  -->
        <!-- <img src = "https://img.wallpapersafari.com/desktop/800/450/66/69/Zuysr2.jpg"> -->

        
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="heading">BookAppStore </div>&nbsp;
        <ul class="navbar-nav">
            <li><a *ngIf="loginService.isUserLoggedIn()" class="nav-link" routerLink="/books">Books</a></li>
            <li class="nav-item dropdown">
                <a *ngIf="loginService.isUserLoggedIn() && loginService.isUserAdmin()" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/admin/users" class="dropdown-item">Users</a>
                    <a routerLink="/admin/books" class="dropdown-item">Books</a>
                </div>
            </li>

            <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>


        </ul>

        <!-- <button>logout</button> -->
    </nav>
</header>
<!-- <body>
    <div class ="container"></div>
</body> -->